<div class="animated fadeIn card addCategory">

		<div class="card-header clearfix">
			<h2 class="card-title" >
				{{ 'merchandise.vendor.add' | translate }}
				{{ 'merchandise.categories.category' | translate }}

				<img *ngIf=" deleteLoader " class="float-right deleteLoader" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">

				<button *ngIf=" categoryId " class="btn btn-danger float-right" (click)="deleteCategory()" [disabled]="deleteLoader">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
					 Delete
				</button>
				<span class="goBack float-right" [routerLink]="['/merchandise/categories']"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to category list</span>

			</h2>
		</div>

		<div class="card-body">

			<form class="col-12" [formGroup]=" addCategoryForm " (ngSubmit)=" addCategory(addCategoryForm.value) ">
				<input type="hidden" formControlName="id">
				<div class="form-group row">
					<label for="name" class="col-3 text-right">Name <span class="mandatory">*</span></label>
					<input type="text" class="form-control col-9" id="name" placeholder="Name" formControlName="name">
				</div>

				<div class="form-group row">
					<label for="display_name" class="col-3 text-right">Display Name (if any)
					</label>
					<input type="text" class="form-control col-9" id="display_name" placeholder="Display Name" formControlName="display_name">
				</div>

				<div class="form-group row">
					<label for="Description" class="col-3 text-right">Description <span class="mandatory">*</span></label>
					<ckeditor class="form-control col-9" [config]="config" formControlName="description"></ckeditor>
				</div>

				<div class="form-group row">
					<label for="Picture" class="col-3 text-right">Picture</label>
					<input type="file" class="form-control col-9" id="Picture" (change)=" imageUpload($event) ">
				</div>

				<div class="form-group row">
					<label for="ParentCategory" class="col-3 text-right">Parent Category</label>
					<select id="ParentCategory" class="form-control col-9" formControlName="parentCat" *ngIf=" categories ">
						<option></option>
						<ng-container *ngFor="let category of categories">
							<option *ngIf="category.level < categoriesMaxLevel " [ngValue]="category">{{ category.breadCrumb }}</option>
						</ng-container>
					</select>
					<select *ngIf=" !categories " class="form-control col-9">
						<option value="noCat">There are no categories yet!</option>
					</select>
				</div>

				<div class="form-group row">
					<label for="Displayorder" class="col-3 text-right">Display order <span class="mandatory">*</span></label>
					<input type="number" class="form-control col-9" id="name" placeholder="Displayorder" formControlName="order">
				</div>

				<div class="form-group row">
					<label for="published" class="col-3 text-right">Published</label>
					<input type="checkbox" id="published" formControlName="published">
				</div>

				<div class="form-group row">
					<label class="col-3 text-right"></label>
					<input *ngIf=" !categoryId " type="submit" class="btn btn-primary" value="Save"  [disabled]=" !addCategoryForm.valid || showLoader " >
					<input *ngIf=" categoryId " type="submit" class="btn btn-primary" value="Update"  [disabled]=" !addCategoryForm.valid || showLoader " >
					<img *ngIf=" showLoader " src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
					<span class="btn btn-secondary" [routerLink]="['/merchandise/categories']">Cancel</span>
				</div>

			</form>

		</div>

</div>