<div class="card" *ngIf="bankInfo">
  <div class="card-body">
    <h3>Filters</h3>
    <form class="form-inline">
      <label class="vendorName sr-only" for="vendorName">Vendor Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="vendorName" placeholder="Vendor Name">

      <label class="productName sr-only" for="productName">Product Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="productName" placeholder="Product Name">

      <button type="submit" class="btn btn-primary">
        <i class="fa fa-search" aria-hidden="true"></i>
        Search
      </button>
    </form>
  </div>
</div>

<div class="card" *ngIf="bankInfo">
  <div class="card-body">

    <button class="btn btn-info deleteSelectedButton" [ngClass]="{ 'disabled': bankInfo.productsInfo && bankInfo.productsInfo.length == 0 }">
      <i class="fa fa-download" aria-hidden="true"></i> 
      Export Products
    </button>

    <button class="btn btn-danger float-right deleteSelectedButton" [ngClass]="{'disabled': !showSelectedDelete }" (click)="deactivateAll()">
      Deactivate Selected
    </button>

    <table class="table table-responsive table-bordered">
      <thead class="black-muted-bg">
        <tr>
          <th class="text-center">
            <input type="checkbox" [ngModel]='selectAllCheckbox' (change)="selectAll($event)">
          </th>
          <th class="text-left">Picture</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Discount</th>
          <th>Total</th>
          <th class="text-center">Status</th>
          <th class="action">
            Action
          </th>
        </tr>
      </thead>

      <tbody *ngIf="bankInfo.productsInfo && bankInfo.productsInfo.length > 0">
        <tr *ngFor="let item of bankInfo.productsInfo">
          <td class="text-center">
            <input [ngModel]="item.isChecked" type="checkbox" (change)="checkBoxSelected($event, item)">
          </td>
          <td class="text-left">
            <div class="product-image">
              <img class="img-fluid" src="{{ item.picture ? item.picture : 'assets/images/products/Placeholder.png' }}" alt="Product Image">
            </div>
          </td>
          <td>
            <span class="productName">
              <em>
                {{ item.name }}
              </em>
            </span>
            <span class="block">
              <span class="bold">SKU</span>: {{ item.sku }}
            </span>
          </td>
          <td>
            <span>
              {{ item.price | currency: 'INR': true }}
            </span>
          </td>
          <td>
            <span>
              {{ item.quantity }}
            </span>
          </td>
          <td>
            <span>
              {{ item.discount | currency: 'INR': true }}
            </span>
          </td>
          <td>
            <span>
              {{ item.total | currency: 'INR': true }}
            </span>
          </td>
          <td class="text-center">
            {{ item.status }}
          </td>
          <td class="action">
            <button class="btn btn-secondary" [routerLink]="['/merchandise/products/edit-product/', item.id, bankId]" title="Edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>

      <tfoot *ngIf=" bankInfo.productsInfo && bankInfo.productsInfo.length > 10 ">
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>

      <tbody *ngIf="bankInfo.productsInfo && bankInfo.productsInfo.length == 0">
        <tr>
          <td colspan="8">
            <span class="bold">
              There are no products in this order!
            </span>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>