<div class="animated fadeIn card addCategory">


	<div class="card-header clearfix">
		<h2 class="card-title" >Import from excel</h2>
		<button type="button" class="close" (click)=" closeModal() " aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="card-body">
		<p *ngIf="showUploadError" class="error">
			<em>
				There was error while uploading!!
			</em>
		</p>

		<form>
			<div class="form-group">
				<label for="ExcelFile" class="text-right">Excel File</label>
				<input type="file" class="form-control" id="ExcelFile" ng2FileSelect [uploader]="uploader" accept=".xlsx, .xls">
				<a target="_blank" href="assets/samples/test-bulk-upload.xls" class="text-decoration btn-link float-right">Download Template</a>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" [disabled]=" submitDisabled " (click)="uploadFile($event)">Upload</button>
				<img *ngIf=" showLoader " src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
			</div>
		</form>

	</div>

</div>