
.disabled {
	opacity: 0.7 !important;
	pointer-events: none;
}

.template-download {
	margin-top: 4px;
	text-decoration: underline !important;
}

.searchbutton {
	margin-left: 15px;
}

.filters {
	margin-bottom: 0;
}

.tree-view {
	margin-top: 30px;
}

.form-group label {
	margin-top: 10px;
}

.spacer {
	margin-bottom: 30px;
}

.catSearch {
	.btn {
		&.btn-primary {
			background-color: #0275d8 !important;
			border-color: #0275d8 !important;
			margin-top: -6px;
		}

		& + .btn {
			margin-right: 10px;
		}
	}
}

.fa[data-toggle="tooltip"] {
	color: #209e91;
}

// Modal PopUp
.modal-dialog {
	.modal-content {
		.modal-header {
			color: #ffffff;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
			background: #209e91 !important;
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
			height: 44px;
			font-size: 16px;
			padding: 14px 22px;
		}

		.close {
			color: #000;
			opacity: 1;
		}
		
		.modal-body {
			font-size: 16px;
		}
	}
}