<div class="row top20 clearfix fadeIn animated">
  <div class="col-12">

    <div class="catSearch clearfix card-header">
      <h2 class="card-title ">
        Manage Bank Catalog's
        <button class="btn btn-primary float-right" (click)=" bulkUpload() ">
          <i class="fa fa-download" aria-hidden="true"></i>
          Import
        </button>
      </h2>
    </div>

    <div class="filters card col-12 fadeIn animated">
      <div class="card-body">
        <form>

          <div class="form-group row">
            <label for="name" class="col-2 text-right">
               Bank Name
              <span class="mandatory">*</span>
              <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by Bank Name."></i>
            </label>
            <input type="text" #searchText class="form-control col-4" id="name" placeholder="Bank Name">
            <button type="submit" class="btn btn-primary searchbutton" (click)=" searchBank(searchText.value) ">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search
            </button>
          </div>

        </form>
      </div>
    </div>

    <div class="spacer col-12"></div>

    <div class="filters card col-12">
      <div class="card-body">
        <table class="table table-bordered table-responsive" [mfData]="banks" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead class="black-muted-bg">
            <tr>
              <th class="text-left">
                <strong>Bank Name</strong>
              </th>
              <th class="text-center">
                <strong>Status</strong>
              </th>
              <th>
                <strong>Created Date</strong>
              </th>
              <th class="text-center">
                <strong>Action</strong>
              </th>
            </tr>
          </thead>
          <tbody *ngIf=" banks && banks.length > 0 ">
            <tr *ngFor=" let item of mf.data | searchfilter: 'name' : searchTerm; let i = index ">
              <td class="text-left">
                {{ item.name }}
              </td>
              <td class="text-center">
                <i *ngIf=" item.status " class="fa fa-check" aria-hidden="true"></i>
                <i *ngIf=" !item.status " class="fa fa-times" aria-hidden="true"></i>
              </td>
              <td>{{ item.createdOn }}</td>
              <td class="text-center">
                <button class="btn btn-secondary" [routerLink]="['./bank-details/', item.id]" title="View Details">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>

          <tbody *ngIf=" banks && banks.length === 0 ">
            <tr>
              <td colspan="5">
                <strong>There are no banks!</strong>
              </td>
            </tr>
          </tbody>

          <tfoot *ngIf=" banks && banks.length > 10 ">
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>

  </div>
</div>
