<div class="row top20 clearfix">
	<div class="col-12">

		<div class="catSearch clearfix card-header">
			<h2 class="card-title ">
				Manage Categories
				<button class="btn btn-primary float-right" (click)=" bulkUpload() ">
					<i class="fa fa-download" aria-hidden="true"></i>
					Import
				</button>
				<button class="btn btn-primary float-right" [routerLink]="['./add-category']">
					<i class="fa fa-plus-square" aria-hidden="true"></i>
					Add New
				</button>
			</h2>
		</div>

		<div class="filters card col-12 fadeIn animated">
			<div class="card-body">
				<form>

					<div class="form-group row">
						<label for="name" class="col-2 text-right">Category Name <span class="mandatory">*</span></label>
						<input type="text" class="form-control col-4" id="name" placeholder="Name">
					</div>

					<div class="form-group row">
						<label class="col-2"></label>
						<button type="submit" class="btn btn-primary no_margin">
							<i class="fa fa-search" aria-hidden="true"></i>
							 Search
						</button>
					</div>

				</form>
			</div>
		</div>

		<div class="spacer col-12"></div>

		<div class="filters card col-12">
			<div class="card-body">
				<table class="table table-bordered table-responsive">
					<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
							<th>Published</th>
							<th>Display Order</th>
							<th>Action</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

	</div>
</div>