table {
	mfbootstrappaginator {
		mfpaginator {
			.pagination {
				margin-bottom: 0 !important;

				&.pull-right.float-sm-right {
					display: none !important;
				}
			}
		}
	}

	td {
		padding-top: 3px !important;
		padding-bottom: 3px !important;
	}

	&.table > tbody > tr > td {
		padding: 0px 11px;
	}
}

table {

	&.table-responsive {
    display: table;
	}

	th {
		position: relative;
	}

	.ion-laptop {
		font-size: 22px;
		cursor: pointer;
	}

	mfdefaultsorter {
		> a {

			.glyphicon {
				position: absolute;
				right: 5px;
				top: 15px;
			}

			.glyphicon.glyphicon-triangle-top {
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 8px solid #1b867b;
			}

			.glyphicon.glyphicon-triangle-bottom {
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 8px solid #1b867b;
			}
		}
	}

}