@import 'app/theme/sass/_auth';

$text-color: #ffffff;


.login-container {

  .login-box {
    width: 550px;
    margin: 7% auto;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.60);
  }

  button {
    cursor: pointer;
    border-width: 1px;
    background: transparent;
    border-color: #d6d6d6;
    color: #fff;
  }

  .btn-link {
    cursor: pointer;
    color: #1b867b;
    font-size: 15px;
  }

  .login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
  }

  .login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 18px;
    font-weight: 400;
  }

  .login-box-body {
    padding: 20px;
    border-top: 0;
    color: #fff;
  }

  .has-error {
    position: relative;
    border: 1px solid #ed7878;
  }

  .text-danger {
    font-size: 15px;
  }

  input {
    font-size: 15px;
  }

  .input-label {
    line-height: 34px;
    font-size: 14px;
  }

  .padding0 {
    padding: 0;
  }
  .padding5 {
    padding: 5px 0 0 0;
  }

  background-size: cover;
  height: 100vh !important;
  overflow: hidden !important;


  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  button.btn.btn-default {
    color: #fff;
  }

  $mainBgUrl: $assets-root + '/images/blur-bg-blurred.jpg';

  background: url($mainBgUrl)

}
