.catSearch {
	.btn {
		&.btn-primary {
			background-color: #0275d8 !important;
			border-color: #0275d8 !important;
			margin-top: -6px;
		}

		& + .btn {
			margin-right: 10px;
		}
	}	
}

.orderNoField {
	.go-button {
		vertical-align: middle;
		background: #00acd6;
		color: #fff;
		padding: 10px;
		cursor: pointer;
	}

	.form-control {
		border-bottom-right-radius: 0;
    border-top-right-radius: 0;
	}
}

.form-group {

	select {
		text-transform: capitalize;
	}

	label {
	margin-top: 10px;

		.fa[data-toggle="tooltip"] {
			color: #209e91;
		}
	}

	.btn {
		& + .btn {
			margin-left: 15px;
		}
	}
}

.product-image {
	width: 100px;
}

.searchButton {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

table {
	tr {

		th {
			white-space: normal;
			padding: 10px 8px;
			vertical-align: middle;
			
			&.customer { width: 150px; }
			&.orderno { width: 65px; }
			&.store { width: 70px; }
		}

		// .action { width: 100px; }

		td {
			line-height: 25px;

			&.customer {
				word-break: break-word;
			}

			&.order-status {
				span {
					padding: .2em .6em .3em;
					border-radius: .25em;

					&.complete {
						background-color: #00a65a;
						color: #fff;
					}
					&.pending {
						background-color: #f39c12;
						color: #fff;
					}
					&.processing {
						background-color: #00c0ef;
						color: #fff;
					}
				}
			}
		}

		.createDate {
			width: 110px;
		}
	}
}