@import '../../theme/sass/auth';
// @include additional-bg();

.padding {
    padding: 10px 0;
    color: #ed7878;
}

.auth-main {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    will-change: transform;
    z-index: 0;
}