@import 'assets/css/ng2-toaster.css';
@import 'assets/css/angular2-datatable.scss';

* {
	box-sizing: border-box !important;
}

.card-header {
	background: #209e91 !important;
}

.card-title {
	color: #fff;
	text-transform: capitalize;
}

.mandatory {
	color: #e03838 !important;
}

.ng-touched.ng-invalid {
	border-color:  #e03838 !important;
}

ckeditor.form-control {
	padding: 0 !important;
}

.no_margin {
	margin: 0 !important;
}

.pos_relative {
	position: relative !important;
}

.pos_absolute {
	position: absolute !important;
}

.no_left_padding {
	padding-left: 0 !important;
}

table {
	display: table !important;
}

.text-decoration {
	text-decoration: underline !important;
	font-size: 12px;
}

.al-content {
	padding: 8px 15px 8px 20px;
}

.content-top {
	padding-top: 0px !important;
	padding-bottom: 10px !important;
}

.loader-container {
	background: #fff;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	text-align: center;

	img {
		margin: 10px auto;
		display: block;
	}
}



