
.catSearch {
	.btn {
		&.btn-primary {
			background-color: #0275d8 !important;
			border-color: #0275d8 !important;
			margin-top: -6px;
		}

		& + .btn {
			margin-right: 10px;
		}
	}
}

label {
	margin-top: 10px;

	.fa[data-toggle="tooltip"] {
		color: #209e91;
		margin-left: 5px;
	}
}

button[type="submit"].searchButton {
	margin-top: 10px;
	margin-left: 0;
}

.form-group {

	select {
		text-transform: capitalize;
	}

	.btn {
		& + .btn {
			margin-left: 15px;
		}
	}
}

.product-image {
	width: 100px;
}

.action {
	width: 150px;
}

.deleteSelectedButton.float-right {
	margin-left: 5px;
}

table {
	tr {
		th,
		td {
			word-break: break-word;
		}
	}
}

.filters {
	> .card-body:first-child {
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;

		> p {
			margin-bottom: 0;
		}
	}
}