/* You can add global styles to this file, and also import other style files */
@import 'app/theme/sass/conf/conf';
@import 'assets/css/ng2-toaster.css';

ba-sidebar,
.collapse-menu-link {
	display: none !important;
}

.w100p {
	width: 100%;
}

a[href="http://www.amcharts.com/javascript-charts/"],
a[title="JavaScript charts"] {
	display: none !important;
}

.al-main {
	margin-left: 0;
	padding-top: 90px;
}

.mydp, .mydp .headertodaybtn {
	border-color: #464a4c !important;
}

// #storeClosedOn,
#storeRegion {
	.ui-select-search {
		visibility: hidden;
	}
}

.card > .card-header {
	background: #3e75b6;
}

.card {
	margin-bottom: 0 !important;

	.card-title {
		text-transform: capitalize;
	}

	.card-body {
		background: #fff;
		min-height: 90px;
	}
}

.pos_relative {
	position: relative;
}

section {
	min-height: 60px;
}

.mandatory,
.error {
	color: #ef1c1c !important;
}

.ng-touched.ng-invalid {
	border-color: #ef1c1c !important;
}

.no_padding {
	padding: 0 !important;
}


ul.pagination {
	margin: auto !important;
	display: inline-flex;
}

table {

	&.table-responsive {
    display: table;
	}

	th {
		position: relative;
	}

	.ion-laptop {
		font-size: 22px;
		cursor: pointer;
	}

	mfdefaultsorter {
		> a {

			.glyphicon {
				position: absolute;
				right: 5px;
				top: 15px;
			}

			.glyphicon.glyphicon-triangle-top {
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 8px solid #3e75b6;
			}

			.glyphicon.glyphicon-triangle-bottom {
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 8px solid #3e75b6;
			}
		}
	}

	mfbootstrappaginator {

		.page-item.active .page-link {
			background: #3e75b6 !important;
			color: #fff !important;
			border: 1px solid #3e75b6 !important;
		}

		.page-item.disabled {
			opacity: 0.5;
		}

		.page-item .page-link,
		.page-item.disabled .page-link {
			border-color: #3e75b6;
			color: #3e75b6;
		}
	}

}

.hasToolTip {
	position: relative;

	&:hover #toolTip {
		display: block;
	}

	#toolTip {
		display: none;
		position: absolute;
		font-size: 12px;
		top: -28px;
		width: 95px;
		left: -32px;
		line-height: 14px;
		text-align: center;
		color: #fff;
		background: rgba(0, 0, 0, 0.8);
		padding: 2px;
		border-radius: 4px;

	}
}

.loader-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #fff;
	z-index: 1;

	.smallLoader {
		width: 40px;
		margin: 10px auto;
		display: block;
	}

  .mediumLoader {
    width: 80px;
    margin: 10px auto;
    display: block;
  }
}

.datepicker-input {
	display: block;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	border: 1px solid rgba(255, 255, 255, 0.6) !important;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: none;
	font-size: 14px;
	border-color: #464a4c !important;
	color: #464a4c !important;
	pointer-events: none;
}

.card-body.addRegionForm {

	.form-group {
		margin-bottom: 5px;
	}

	.form-group label {
		color: #000;
		position: relative;
		width: 100%;
	}

	.ion-minus-round {
		cursor: pointer;
		position: absolute;
		right: 0;
	}

	.form-control {
		color: #6b6b6b;
		background-color: transparent;
		border: 1px solid #e7e7e7;
	}

	.info-icon {
		display: inline-block;
		margin-left: 5px;
		font-size: 15px;

		&:before {
			color: #3e75b6;
		}
	}

}

.input-group.date {
	display: block;
}

angular2-multiselect {
	.selected-list .c-btn {
		box-shadow: none !important;
		border-color: #464a4c !important;
    border-radius: 5px !important;
	}
}

.mydp .selection {
  pointer-events: none;
}







@media screen and (max-width: $resL) {

	.horizontal-header {
		display: none;
	}

	ba-sidebar,
	.collapse-menu-link {
		display: block !important;
	}
}
















