<div class="animated fadeIn card orderDetails">

  <div class="card-header clearfix">
    <h2 class="card-title">
      Manage Bank
      <span *ngIf="bankInfo"> - {{ bankInfo.id }}</span>
      <span class="goBack float-right" [routerLink]="['/catalog-management']">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to banks list</span>
    </h2>
  </div>

  <div class="card-body" *ngIf="bankInfo">

    <div class="loader-container pos_absolute" *ngIf="bigLoader">
      <img src="assets/img/ajax-loader.gif" alt="Loader Image">
    </div>

    <div class="tabs-section">
      <!-- Tabs Top UI -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#info" role="tab" data-toggle="tab">Basic Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#vendors" role="tab" data-toggle="tab">Vendors Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#products" role="tab" data-toggle="tab">Products Info</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " href="#products" role="tab" data-toggle="tab">Products</a>
        </li> -->
      </ul>
    </div>

    <div class="tab-content col-12 no_left_padding no_right_padding">
      <div role="tabpanel" class="tab-pane fade in active" id="info">
        <app-basic-info class="col-12" [bankInfo]="bankInfo"></app-basic-info>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="vendors">
        <app-vendors-info class="col-12" [bankInfo]="bankInfo"></app-vendors-info>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="products">
        <app-products-info class="col-12" [bankInfo]="bankInfo"></app-products-info>
      </div>
      <!-- <div role="tabpanel" class="tab-pane fade in" id="products">
        <app-products class="col-12" [bankInfo]="bankInfo"></app-products>
      </div> -->
    </div>

  </div>

  <div class="card-body" *ngIf="!bankInfo">
    Bank Info is not available!!!
  </div>
</div>