<div class="animated fadeIn card addProduct">

  <div class="card-header clearfix">
    <h2 class="card-title">
      Add a new product

      <img *ngIf=" deleteLoader " class="float-right deleteLoader" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35"
        height="35"> 
      
      <button *ngIf=" productId " class="btn btn-danger float-right" (click)="deleteProduct()" [disabled]="deleteLoader">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <span class="goBack float-right" [routerLink]="['/merchandise/products']">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to products list</span>

    </h2>
  </div>

  <div class="card-body">

    <div class="loader-container pos_absolute" *ngIf="bigLoader">
      <img src="assets/img/ajax-loader.gif" alt="Loader Image">
    </div>

    <div class="tabs-section">
      <!-- Tabs Top UI -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#Productinfo" role="tab" data-toggle="tab">Product info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#Pictures" role="tab" data-toggle="tab">Pictures</a>
        </li>
      </ul>
    </div>

    <form [formGroup]=" addProductForm " (ngSubmit)="addProduct(addProductForm.value) " class="row">
      <input type="hidden" formControlName="id">

      <!-- Tab panes -->
      <div class="tab-content col-12">
        <div role="tabpanel" class="tab-pane fade in active" id="Productinfo">

          <div class="col-7 no_left_padding">
            <div class="card fadeIn animated">
              <div class="card-header" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                <h3 class="card-title">
                  General information
                  <span class="float-right">
                    <i class="fa fa-minus-square" aria-hidden="true"></i>
                  </span>
                </h3>
              </div>
              <div class="card-body collapse show" id="collapseExample">
                <div class="form-group row">
                  <label for="name" class="col-3 text-right">Name
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="name" placeholder="Name" formControlName="name">
                </div>

                <div class="form-group row">
                  <label for="ShortDescription" class="col-3 text-right">Short
                    <br> Description
                    <span class="mandatory">*</span>
                  </label>
                  <textarea class="form-control col-9" id="name" placeholder="Short Description" formControlName="shortDescription"></textarea>
                </div>

                <div class="form-group row">
                  <label for="FullDescription" class="col-3 text-right">Full
                    <br> Description
                    <span class="mandatory">*</span>
                  </label>
                  <ckeditor class="form-control col-9" [config]="config" formControlName="fullDescription"></ckeditor>
                </div>

                <div class="form-group row">
                  <label for="sku" class="col-3 text-right">
                    SKU
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="name" placeholder="SKU" formControlName="sku">
                </div>

                <div class="form-group row">
                  <label for="status" class="col-3 text-right">
                    status
                    <span class="mandatory">*</span>
                  </label>
                  <select id="status" formControlName="status" class="form-control col-9">
                    <option *ngFor="let item of statusOptions" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="card fadeIn animated">
              <div class="card-header" data-toggle="collapse" href="#prices" aria-expanded="true">
                <h3 class="card-title">
                  Pricing
                  <span class="float-right">
                    <i class="fa fa-minus-square" aria-hidden="true"></i>
                  </span>
                </h3>
              </div>
              <div class="card-body collapse show" id="prices">

                <div class="form-group row">
                  <label for="currency" class="col-3 text-right">
                    Choose Currency
                  </label>
                  <select id="currency" class="form-control col-9">
                    <option *ngFor="let item of currencyOptions" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
                <hr>
                <div class="form-group row">
                  <label for="netPrice" class="col-3 text-right">Net Price
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="netPrice" placeholder="Net Price" formControlName="netPrice" (keydown)='validatenumber($event)'>
                </div>
                <div class="form-group row">
                  <label for="netShipping" class="col-3 text-right">Shipping netShipping
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="netShipping" placeholder="Shipping Price" formControlName="netShipping" (keydown)='validatenumber($event)'>
                </div>
                <div class="form-group row">
                  <label for="Price" class="col-3 text-right">MRP Price
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="Price" placeholder="MRP Price" formControlName="MrpPrice" (keydown)='validatenumber($event)'>
                </div>
                <div class="form-group row" *ngIf=" productId ">
                  <label for="oldPrice" class="col-3 text-right">Old MRP Price
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="oldPrice" placeholder="Old MRP Price" formControlName="oldPrice" (keydown)='validatenumber($event)' [ngClass]="{ 'disabled': productId }" tabindex="-1">
                </div>

                <hr>
                
                <div class="form-group row">
                  <label for="Price" class="col-3 text-right">Retail Price
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="Price" placeholder="Retail Price" formControlName="retailPrice" (keydown)='validatenumber($event)'>
                </div>
                <div class="form-group row">
                  <label for="retailShipping" class="col-3 text-right">Retail Shipping
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="retailShipping" placeholder="Retail Shipping" formControlName="retailShipping" (keydown)='validatenumber($event)'>
                </div>
                <div class="form-group row">
                  <label for="rpi" class="col-3 text-right">Retails Price Inclusive (RPI)
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-9" id="rpi" placeholder="Retails Price Inclusive (RPI)" formControlName="rpi" (keydown)='validatenumber($event)'>
                </div>
                <div class="form-group row">
                  <label for="applicableDate" class="col-3 text-right">
                    Apply From
                    <span class="mandatory">*</span>
                  </label>
                  <my-date-picker id="applicableDate" class="col-9 no_padding" name="applicableDate" [options]="myDatePickerOptions" formControlName="applicableDate">
                  </my-date-picker>
                  <!-- <input type="text" class="form-control col-9" id="applicableDate" placeholder="Retails Price Inclusive (RPI)" formControlName="applicableDate"
                  (keydown)='validatenumber($event)'> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 no_left_padding no_right_padding">
            <div class="card fadeIn animated">
              <div class="card-header" data-toggle="collapse" href="#mappings" aria-expanded="true" aria-controls="mappings">
                <h3 class="card-title">
                  Mappings
                  <span class="float-right">
                    <i class="fa fa-minus-square" aria-hidden="true"></i>
                  </span>
                </h3>
              </div>
              <div class="card-body collapse show" id="mappings">
                <div class="form-group row">
                  <label for="Categories" class="col-4 text-right">Categories
                    <span class="mandatory">*</span>
                  </label>
                  <angular2-multiselect id="name" [data]="categories" formControlName="categories" [settings]="categoriesDropdownSettings">
                  </angular2-multiselect>
                </div>
                <div class="form-group row">
                  <label for="vendor" class="col-4 text-right">
                    Vendor
                    <span class="mandatory">*</span>
                  </label>
                  <select id="vendor" formControlName="vendor" class="form-control col-8">
                    <option *ngFor="let item of vendors" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
                <div class="form-group row">
                  <label for="stockQuantity" class="col-4 text-right">Stock Quantity
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-8" id="stockQuantity" placeholder="Stock Quantity" formControlName="stockQuantity" (keydown)='validatenumber($event)'>
                </div>
                <div class="form-group row">
                  <label for="type" class="col-4 text-right">Type
                    <span class="mandatory">*</span>
                  </label>
                  <input type="text" class="form-control col-8" id="type" placeholder="Type" formControlName="type">
                </div>
                <div class="form-group row">
                  <label for="Brand" class="col-4 text-right">Brand
                  </label>
                  <input type="text" class="form-control col-8" id="Brand" placeholder="Brand" formControlName="brand">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="Pictures">
          <div class="card fadeIn animated">
            <div class="card-body" *ngIf=" !productId ">
              <p>You need to save the product before you can upload pictures for this product.</p>
            </div>
            <div class="card-body" *ngIf=" productId ">
              <table class="table table-bordered table-responsive">
                <thead class="black-muted-bg">
                  <tr>
                    <th>Picture</th>
                    <th>Display order</th>
                    <th>Alt</th>
                    <th>Title</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="productInfo.picture.length > 0 ">
                  <tr *ngFor="let item of productInfo.picture">
                    <td>
                      <div class="product-image">
                        <img class="img-fluid" src="{{ item.url ? item.url : 'assets/images/products/Placeholder.png' }}" alt="Product Image">
                      </div>
                    </td>
                    <td>
                      {{ item.displayOrder }}
                    </td>
                    <td>
                       {{ item.alt }}
                    </td>
                    <td>
                       {{ item.title }}
                    </td>
                    <td>
                      <button class="btn btn-primary">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Edit
                      </button>
                      <button class="btn btn-info">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="productInfo.picture.length < 1">
                  <tr>
                    <td colspan="5">
                      No Pictures Yet
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card fadeIn animated" *ngIf=" productId ">
            <div class="card-header">
              <h3 class="card-title">
                Add a new picture
              </h3>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label for="picture" class="col-3 text-right">Picture
                  <span class="mandatory">*</span>
                </label>
                <input type="file" class="form-control col-9" id="picture" formControlName="pictureName" accept=".jpg, .png, .jpeg, .gif" (change)="productImageSelected($event)">
              </div>
              <div class="form-group row">
                <label for="picture" class="col-3 text-right">
                  Alt
                </label>
                <input type="text" class="form-control col-9" id="picture" formControlName="pictureAlt" placeholder="Alt">
              </div>
              <div class="form-group row">
                <label for="picture" class="col-3 text-right">
                  Title
                </label>
                <input type="text" class="form-control col-9" id="title" formControlName="pictureTitle" placeholder="Title">
              </div>
              <div class="form-group row">
                <label for="displayorder" class="col-3 text-right">
                  Display Order
                </label>
                <input type="number" class="form-control col-9" id="displayorder" formControlName="pictureDisplayorder" placeholder="Display Order">
              </div>
              <div class="form-group row">
                <label for="displayorder" class="col-3 text-right"></label>
                <button type="button" class="btn btn-info no_margin" (click)="uploadProductImage(addProductForm.value)">
                  Upload
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row col-12">
        <label class="col-3 text-right"></label>
        <input *ngIf=" !productId " type="submit" class="btn btn-primary" value="Save" [disabled]=" !addProductForm.valid || showLoader ">
        <input *ngIf=" productId " type="submit" class="btn btn-primary" value="Update" [disabled]=" !addProductForm.valid || showLoader ">
        <img *ngIf=" showLoader " src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
        <span class="btn btn-warning" *ngIf=" !productId " (click)="resetForm()">Reset</span>
        <span class="btn btn-secondary" [routerLink]="['/merchandise/products']">Cancel</span>
      </div>


    </form>



  </div>

</div>