<div class="animated fadeIn card addProduct">

  <div class="card-header clearfix">
    <h2 class="card-title">
       Add a new product

      <button *ngIf=" productId " class="btn btn-danger float-right" (click)="deleteProduct()">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <span class="goBack float-right" [routerLink]="['/merchandise/products']">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to products list</span>

    </h2>
  </div>

  <div class="card-body">

    <form [formGroup]=" addProductForm " (ngSubmit)=" addProduct(addProductForm.value) ">
      <input type="hidden" formControlName="id">

    <div class="col-7 no_left_padding">
      <div class="card fadeIn animated">
        <div class="card-header">
          <h3 class="card-title">General information</h3>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="name" class="col-3 text-right">Name
              <span class="mandatory">*</span>
            </label>
            <input type="text" class="form-control col-9" id="name" placeholder="Name" formControlName="name">
          </div>
      
          <div class="form-group row">
            <label for="ShortDescription" class="col-3 text-right">Short <br> Description <span class="mandatory">*</span>
            </label>
            <textarea class="form-control col-9" id="name" placeholder="Short Description" formControlName="name"></textarea>
          </div>
      
          <div class="form-group row">
            <label for="FullDescription" class="col-3 text-right">Full <br> Description
              <span class="mandatory">*</span>
            </label>
            <ckeditor class="form-control col-9" [config]="config" formControlName="description"></ckeditor>
          </div>
      
          <div class="form-group row">
            <label for="sku" class="col-3 text-right">
              SKU
              <span class="mandatory">*</span>
            </label>
            <input type="text" class="form-control col-9" id="name" placeholder="SKU" formControlName="order">
          </div>
      
        </div>
      </div>

      <div class="card fadeIn animated">
        <div class="card-header">
          <h3 class="card-title">Prices</h3>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="name" class="col-3 text-right">Name
              <span class="mandatory">*</span>
            </label>
            <input type="text" class="form-control col-9" id="name" placeholder="Name" formControlName="name">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3 text-right"></label>
      <input *ngIf=" !categoryId " type="submit" class="btn btn-primary" value="Save" [disabled]=" !addProductForm.valid || showLoader ">
      <input *ngIf=" productId " type="submit" class="btn btn-primary" value="Update" [disabled]=" !addProductForm.valid || showLoader ">
      <img *ngIf=" showLoader " src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
      <span class="btn btn-secondary" [routerLink]="['/merchandise/products']">Cancel</span>
    </div>
    

    </form>



  </div>

</div>