<div class="animated fadeIn card addProduct">

  <div class="card-header clearfix">
    <h2 class="card-title">
       Add a new product

      <button *ngIf=" productId " class="btn btn-danger float-right" (click)="deleteProduct()">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button> 
      <span class="goBack float-right" [routerLink]="['/merchandise/products']">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to products list</span>

    </h2>
  </div>

  <div class="card-body">

    <form [formGroup]=" addProductForm " (ngSubmit)="addProduct(addProductForm.value) " class="row">
      <input type="hidden" formControlName="id">

    <div class="col-7 no_left_padding">
      <div class="card fadeIn animated">
        <div class="card-header" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
          <h3 class="card-title">
            General information
            <span class="float-right">
              <i class="fa fa-minus-square" aria-hidden="true"></i>
            </span>
          </h3>
        </div>
        <div class="card-body collapse show" id="collapseExample">
          <div class="form-group row">
            <label for="name" class="col-3 text-right">Name
              <span class="mandatory">*</span>
            </label>
            <input type="text" class="form-control col-9" id="name" placeholder="Name" formControlName="name">
          </div>
      
          <div class="form-group row">
            <label for="ShortDescription" class="col-3 text-right">Short <br> Description <span class="mandatory">*</span>
            </label>
            <textarea class="form-control col-9" id="name" placeholder="Short Description" formControlName="shortDescription"></textarea>
          </div>
      
          <div class="form-group row">
            <label for="FullDescription" class="col-3 text-right">Full <br> Description
              <span class="mandatory">*</span>
            </label>
            <ckeditor class="form-control col-9" [config]="config" formControlName="fullDescription"></ckeditor>
          </div>
      
          <div class="form-group row">
            <label for="sku" class="col-3 text-right">
              SKU
              <span class="mandatory">*</span>
            </label>
            <input type="text" class="form-control col-9" id="name" placeholder="SKU" formControlName="sku">
          </div>
      
        </div>
      </div>

      <div class="card fadeIn animated">
        <div class="card-header" data-toggle="collapse" href="#prices" aria-expanded="true">
          <h3 class="card-title">
            Prices
            <span class="float-right">
              <i class="fa fa-minus-square" aria-hidden="true"></i>
            </span>
          </h3>
        </div>
        <div class="card-body collapse show" id="prices">
          <div class="form-group row">
            <label for="Price" class="col-3 text-right">Price
              <span class="mandatory">*</span>
            </label>
            <input type="number" class="form-control col-9" id="Price" placeholder="Price" formControlName="price" value="0">
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 no_left_padding no_right_padding">
       <div class="card fadeIn animated">
          <div class="card-header" data-toggle="collapse" href="#mappings" aria-expanded="true" aria-controls="mappings">
            <h3 class="card-title">
               Mappings
              <span class="float-right">
                <i class="fa fa-minus-square" aria-hidden="true"></i>
              </span>
            </h3>
          </div>
          <div class="card-body collapse show" id="mappings">
            <div class="form-group row">
              <label for="Categories" class="col-3 text-right">Categories<span class="mandatory">*</span>
              </label>
              <angular2-multiselect 
                id="name"
                [data]="categories" 
                formControlName="categories"
                [settings]="categoriesDropdownSettings">
              </angular2-multiselect>
            </div>
          </div>
       </div>
    </div>

    <div class="form-group row col-12">
      <label class="col-3 text-right"></label>
      <input *ngIf=" !categoryId " type="submit" class="btn btn-primary" value="Save" [disabled]=" !addProductForm.valid || showLoader ">
      <input *ngIf=" productId " type="submit" class="btn btn-primary" value="Update" [disabled]=" !addProductForm.valid || showLoader ">
      <img *ngIf=" showLoader " src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
      <span class="btn btn-secondary" [routerLink]="['/merchandise/products']">Cancel</span>
    </div>
    

    </form>



  </div>

</div>